# Ignore folders
__pycache__/
all_runs/
results/Training/
results/Evaluation/*/*

# Ignore files
terminal.log
NOTES.md

# Not ignored folders
!all_runs/*.tar.gz

# Not ignored files
!results/Evaluation/0/0.log
!results/Evaluation/0/0.txt

!results/Evaluation/1/1.log
!results/Evaluation/1/1.txt

!results/Evaluation/2/2.log
!results/Evaluation/2/2.txt

!results/Evaluation/3/3.log
!results/Evaluation/3/3.txt

!results/Evaluation/table_creator.py



