__pycache__/
all_runs/runs/
results/Training/
results/Evaluation/*

terminal.log
NOTES.md


!results/Evaluation/0/0.log
!results/Evaluation/0/0.txt

!results/Evaluation/1/1.log
!results/Evaluation/1/1.txt

!results/Evaluation/2/2.log
!results/Evaluation/2/2.txt

!results/Evaluation/3/3.log
!results/Evaluation/3/3.txt

!results/Evaluation/table_creator.py



